/* GOOGLE FONT */
/* 
 use- 
      font-family: 'Satisfy', cursive; 
      font-family: 'Poppins', sans-serif; 
      font-family: 'Josefin Sans', sans-serif;
      font-family: 'Ubuntu', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Satisfy&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MULTI ELEMENT STYLING */
.entirelyDom,
.notEntirelyDom {
  width: 40%;
  padding: 15px 0px;
  border: 2px solid #000;
  border-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.listItems {
  /* background-color: olive; */
  padding: 10px;
}

.heading {
  /* background-color: magenta; */
  width: 100%;
  /* height: 50px; */
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h2 {
  width: 80%;
  font-size: 25px;
  padding: 10px 0px;
  border: 2px solid #000;
  border-radius: 20px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  /* background-color: lightcyan; */
  width: 100%;
  padding: 10px 10px;
}

li {
  /* background-color: tomato; */
  margin-bottom: 10px;
  padding: 1px;

  border: 2px solid #000;
  border-radius: 10px;
  list-style: none;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  font-family: "Satisfy", cursive;
  font-size: 20px;
}

a {
  /* background-color: rgb(236, 175, 200); */
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px 0 3px 35px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  cursor: pointer;

  transition: 0.3s;
}

li:hover {
  border: 3px solid red;
}

a:hover {
  background-color: #000;
  color: #fff;
  font-size: 21px;
  border: none;
}

/* a:hover {
  color: #fff;
} */
/* Main Container Styling */
.mainContainer {
  /* background-color: grey; */
  width: 98%;
  padding: 10px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main Heading Container Styling */
.mainHeading {
  /* background-color: lightpink; */
  margin-bottom: 25px;
  padding: 10px;
  width: 99%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeading h1 {
  /* background-color: aquamarine; */
  padding: 10px 25px;
  border-radius: 10px;

  font-size: 35px;
  font-family: "Ubuntu", sans-serif;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* List Container Styling */
.listContainer {
  /* background-color: aqua; */
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-evenly;
}

/* ENTIRELY DOM STYLING */
.entirelyDom {
  /* background-color: lightcoral; */
}

/* Not ENTIRELY DOM STYLING */
.notEntirelyDom {
  /* background-color: rgb(255, 121, 72); */
}

/********************* RESPONSIVES ************  */
/* max-width 600px */
@media only screen and (max-width: 600px) {
  .listContainer {
    width: 100%;
    padding: 10px;

    flex-direction: column;
    align-items: center;
  }

  a {
    font-size: 17px;
  }

  .entirelyDom,
  .notEntirelyDom {
    width: 98%;
  }

  .entirelyDom {
    margin-bottom: 30px;
  }

  /* Hover effect */
  li:hover {
    border: 3px solid red;
  }

  a:hover {
    background-color: #000;
    color: #fff;
    font-size: 19px;
    border: none;
  }
}

/***************** BIRTHDAY CONTAINER STYLING **************/

.birthdayContainer {
  /* background-color: grey; */
  width: 98%;
  height: 98vh;
  display: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.birthdayContainer h1 {
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rohitBhai {
  width: 300px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-bottom: 30px;
}
